<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup </title>
</head>
<body>
  <h1>Signup</h1>
  <div>
  <form action="/user" method="POST">
    <label>Enter Your Full Name </label>
    <input type="text" name="name" >
    
        <label>Enter Your Email </label>
    <input type="email" name="email" >

        <label>Enter Your Password </label>
    <input type="password" name="password" >

    <button  type="submit">Signup</button>
  </form>
    </div>
</body>
</html>